body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 14, 14, 0.865);
}
.container{
    background-color: whitesmoke;
    align-items: center;
    margin-top: 175px;
    height: 400px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
}
.name{
    margin-bottom: 20px;
}
.pass
{
    margin-bottom: 20px;
}
.email
{
    margin-bottom: 20px;
}
img{
    height: 400px;
    border-radius: 10px;
    margin-top: 5px;
}
.form{
    padding-left: 30px;
    padding-right: 40px;
    margin-top: -50px;
    font-family: 'Ysabeau', sans-serif;
}
input{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}
button{
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: orange;
    color: black;
    padding: 10px;
    font-weight: bold;
}
.top
{
    margin-bottom: -15px;
    font-size: 40px;
    font-weight: bold;
}
.bottom{
    font-size: 15px;
}
input::placeholder{
    font-family: 'Ysabeau', sans-serif;
}